.header{
  background-color: #ec9304a4;
  height: 80px;
  text-align: center;
  padding: 20px;}

.button-container{
    display: flex;
    margin: 20px;
    gap: 10px;
}

.boshu{
    margin: 10px;
}

.recruitment{
    border: 1px solid #040303;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
}

.button-talk{
    background-color: #b8ffba;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #215d24;
}

.button-close{
    background-color: #ffb8b8;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #9c0707;
}

.button-go{
    background-color: #05c2fbc0;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #0682f7;
}